// Place all the styles related to the Cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#temp_table {
  border: 0.2em solid;
  width: 77%;
  margin: 0 auto;
}

#temp_table td {
  text-align: center;
}
